nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 25px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  margin-left: 50px;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
  max-width: 320px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  padding: 0;
  margin-left: 25px;
}

.card--status {
  margin: 6px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 110%;
  text-align: center;
  color: #222222;
  position: absolute;
}

.card--photo {
  border-radius: 9px;
  margin-bottom: 10px;
}

.card--info {
  font-size: 12px;
  line-height: 110%;
  font-weight: 300;
}

.card--info--rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card--info--rating--star {
  max-width: 14px;
}

.card--info--pricing--floor {
  font-weight: 600;
}

.card--info--rating--quantity,
.card--info--rating--location {
  color: #918e9b;
}
